$grvColor01: #ffffff;
$grvColor02: #000000;
$grvColor03: #094277;
$grvColor03Dark: darken($grvColor03, 6%);
$grvColor03Light: lighten($grvColor03, 6%);
$grvColor04: #ff5cab;
$grvColor05: #1d1c1c;
$grvColor06: #b4e2e0;
$grvColor07: #2374ab;
$grvColor08: #3f4c8a;
$grvColor09: #e5eef5;
$grvColor10: #f9c784;
$grvColor11: #ef6351;
$grvColor12: #093866;
$grvColor13: #f1f6fd;
$grvColor14: #333333;
$grvColor15: #8f8f8f;

$colorChart01: #4c759c;
$colorChart01Hover: #466b8e;
$colorChart02: #8e909d;
$colorChart02Hover: #4e5166;
$colorChart03: #b5aa9d;
$colorChart03Hover: #847c73;
$colorChart04: #b9b7a7;
$colorChart04Hover: #989689;
$colorChart05: #7b6571;
$colorChart05Hover: #7b6571;
$colorChart06: #c6d1cd;
$colorChart06Hover: #9aa3a0;
$colorChart07: #fac8cd;
$colorChart07Hover: #b69296;
$colorChart08: #579cb1;
$colorChart08Hover: #187795;

$font-main: unquote('"Poppins", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"');