
.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table th, .table td {
  padding: 0.55rem;
  vertical-align: top;
  border-top: 1px solid #e9ecef;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #e9ecef;
}

.table tbody + tbody {
  border-top: 2px solid #e9ecef;
}

.table .table {
  background-color: #fff;
}

.table-sm th, .table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #e9ecef;
}

.table-bordered th, .table-bordered td {
  border: 1px solid #e9ecef;
}

.table-bordered thead th, .table-bordered thead td {
  border-bottom-width: 2px;
}

.table-borderless th, .table-borderless td, .table-borderless thead th, .table-borderless tbody + tbody {
  border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.0125);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.0125);
}

@include runTableType(
  'primary',
  lighten($grvColor03, 69%),
  lighten($grvColor03, 50%),
  lighten($grvColor03, 67%)
);

@include runTableType(
  'secondary',
  lighten($grvColor09, 5%),
  lighten($grvColor09, 2%),
  lighten($grvColor09, 1%)
);

@include runTableType(
  'success',
  lighten($grvColor03, 65%),
  lighten($grvColor03, 40%),
  lighten($grvColor03, 63%)
);

@include runTableType(
  'info',
  lighten($grvColor04, 28%),
  lighten($grvColor04, 14%),
  lighten($grvColor04, 25%)
);

@include runTableType(
  'warning',
  lighten($grvColor10, 20%),
  lighten($grvColor10, 10%),
  lighten($grvColor10, 17%)
);

@include runTableType(
  'danger',
  lighten($grvColor11, 33%),
  lighten($grvColor11, 15%),
  lighten($grvColor11, 30%),
);

@include runTableType(
  'light',
  lighten($grvColor13, 1%),
  darken($grvColor13, 20%),
  lighten($grvColor13, .5%),
);

@include runTableType(
  'dark',
  lighten($grvColor14, 10%),
  darken($grvColor14, 5%),
  lighten($grvColor14, 8%),
);

@include runTableType(
  'focus',
  lighten($grvColor04, 22%),
  darken($grvColor04, 11%),
  lighten($grvColor04, 19%),
);

@include runTableType(
  'alternate',
  lighten($grvColor07, 10%),
  darken($grvColor07, 5%),
  lighten($grvColor07, 3%),
);

.table.table-alternate {
  color: $grvColor01;
}

.table-active, .table-active > th, .table-active > td {
  background-color: rgba($grvColor13, .5);
}

.table-hover .table-active:hover {
  background-color: #b8ecff;
}

.table-hover .table-active:hover > td, .table-hover .table-active:hover > th {
  background-color: #b8ecff;
}

.table .thead-dark th {
  color: #fff;
  background-color: #212529;
  border-color: #32383e;
}

.table .thead-light th {
  color: #868e96;
  background-color: #f8f9fa;
  border-color: #e9ecef;
}

.table-dark {
  color: #fff;
  background-color: #212529;
}

.table-dark th, .table-dark td, .table-dark thead th {
  border-color: #32383e;
}

.table-dark.table-bordered {
  border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.table-dark.table-hover tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .table-responsive-sm > .table-bordered {
    border: 0;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .table-responsive-md > .table-bordered {
    border: 0;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .table-responsive-lg > .table-bordered {
    border: 0;
  }
}

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .table-responsive-xl > .table-bordered {
    border: 0;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive > .table-bordered {
  border: 0;
}